body {
  background-color: #DDDDDD;
}

hr {
  border-color: #F9F3F3;
  border-style: dotted none none none;
  border-width: 9px;
  width: 20%;
}

h1 {
  color: #F25287;
  font-size: 70px;
}

h2 {
  color: #F25287;
}

h3 {
  color: #F25287;
}

h4 {
  color: #F25287;
}
